/* 3840px ~~~~~~~~~~~~~~~~~~~~~~~~ */
@media only screen and (max-width:3840px) {



}

/* 3200px ~~~~~~~~~~~~~~~~~~~~~~~~ */
@media only screen and (max-width:3200px) {



}

/* 2736px ~~~~~~~~~~~~~~~~~~~~~~~~ */
@media only screen and (max-width:2736px) {



}

/* 2560px ~~~~~~~~~~~~~~~~~~~~~~~~ */
@media only screen and (max-width:2560px) {



}

/* 2256px ~~~~~~~~~~~~~~~~~~~~~~~~ */
@media only screen and (max-width:2256px) {



}

/* 1920px ~~~~~~~~~~~~~~~~~~~~~~~~ */
@media only screen and (max-width:1920px) {



}

/* 1600px ~~~~~~~~~~~~~~~~~~~~~~~~ */
@media only screen and (max-width:1600px) {



}

/* 1366px~~~~~~~~~~~~~~~~~~~~~~~~ */
@media only screen and (max-width:1366px) {



}

/* 1280px ~~~~~~~~~~~~~~~~~~~~~~~~ */
@media only screen and (max-width:1280px) {



}

/* 1199px ~~~~~~~~~~~~~~~~~~~~~~~~ */
@media only screen and (max-width:1199px) {



}

/* 992px ~~~~~~~~~~~~~~~~~~~~~~~~ */
@media only screen and (max-width:992px) {



}

/* 767px ~~~~~~~~~~~~~~~~~~~~~~~~ */
@media screen and (max-width: 767px) {

    .top-icon{
        padding:0;
        box-shadow:none;
    }

}

/* 479px ~~~~~~~~~~~~~~~~~~~~~~~~ */
@media screen and (max-width: 479px) {

    .card{
        border-radius: 3px;
        padding: 0;
        margin: 0;
    }
    .card-action{
        background-color: #1f2224 !important;
        box-shadow: 0px 0px 0px 0px #0f0f10d7,
                0px 0px 0px 0px #282828cc,
                inset 6px 6px 16px 0px #0f0f10d7,
                inset -6px -6px 16px 0px #282828cc;
        border: 1px solid #282828cc;
        border-radius: 3px;
        border-bottom-right-radius: 0;
        border-bottom-left-radius: 0;
        color: #fff;
        text-transform: uppercase;
        text-shadow: 0px 0px 1px gold;
        font-size: 11px;
    }
    .thumbnail-img{
        width: 100%;
        padding: 0%;
        margin: 0;
        border-radius: 3px;
        border: 1px solid #282828cc;
    }
    .card-action+.thumbnail-img{
        width: 100%;
        padding: 0%;
        margin: 0;
        border-radius: 3px;
        border-top-right-radius: 0;
        border-top-left-radius: 0;
        border: 1px solid #282828cc;
    }
    .row .col{
        padding: 5px;
    }
}